.content {
    max-width: 1400px;
    width: 95%;
    margin: auto;
    padding-top: 43px;
    padding-bottom: 120px;
  }
  
  .content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  
  .content__text {
    font-size: 30px;
    color: #48494a;
    font-family: "Gotham Pro";
  }
  
  .content__top-button {
    background-color: #e43030;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 27px;
  }
  
  .content__top-button:hover {
    box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
    -webkit-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
    -moz-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
  }
  
  .content__top-button:active {
    transform: scale(1.1);
  }
  
  .content__gallery {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .content__gallery-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .content__gallery-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    width: 49%;
    max-width: 335px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
    -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
    box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  }
  
  .top-card {
    height: 242px;
    padding: 10px 21px 0 21px;
    background-image: url(../Images/image.png);
    position: relative;
    font-family: "Gotham Pro";
  }
  
  .top-card__label {
    display: inline-block;
    height: 23px;
    padding: 0 8px;
    background-color: #ffc600;
    color: #48494a;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 23px;
    position: relative;
  }
  
  .top-card__label::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #ffc600;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0;
    top: 23px;
  }
  
  .top-card__heart {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    height: 28px;
    float: right;
  }
  
  .top-card__company-name {
    position: absolute;
    bottom: 0;
    padding-bottom: 13px;
  }
  
  .top-card__company-name {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .bottom-card {
    padding: 10px 20px;
    height: 98px;
  }
  
  .address {
    font-size: 14px;
    color: #48494a;
  }
  
  .address__icon {
    position: absolute;
    margin-left: 5px;
  }
  
  .bottom-card__address {
    margin-bottom: 10px;
    line-height: 28px;
  }
  
  .cost {
    display: inline;
    background-color: #fffbd7;
    font-size: 18px;
    padding: 5px;
  }
  
  .cost-text {
    display: inline;
    color: #48494a;
  }
  
  .address__cost-text {
    margin-left: 3px;
  }
  
  .bottom-card__cost {
    display: flex;
  }
  
  .bold-text {
    font-family: "Gotham Pro";
    background-color: #fffbd7;
  }
.wrapper-stocks {
  background-color: inherit;
}

.stocks-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.content-stocks {
  padding: 0;
  position: relative;
  display: flex;
}

.content-stocks::after {
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}

.work {
  width: 72%;
  background-color: #fafafa;
  padding: 50px 80px 0 0;
}

.work__gallery {
  display: flex;
  justify-content: space-between;
}

.work__card {
  max-width: 453px;
  width: 49%;
}

.work__card-top {
  height: 248px;
  padding: 35px 15px;
  position: relative;
  -webkit-box-shadow: inset 0px -250px 87px -152px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px -250px 87px -152px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px -250px 87px -152px rgba(0, 0, 0, 0.39);
}

.work__card-bottom {
  min-height: 175px;

  padding: 20px 20px 40px 20px;
  margin-bottom: 50px;

  color: #48494a;
  font-size: 14px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}

.work__date {
  font-size: 12px;
  color: #48494a;
}

.work__name {
  font-family: "Gotham Pro";
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 35px;
}
.work__card-top-left {
  background-image: url(../Images/work-img.png);
}

.work__card-top-right {
  background-image: url(../Images/work-img-1.png);
}

.block {
  width: 28%;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 120px;
}

.block__name {
  color: #48494a;
  font-size: 30px;
  font-family: "Gotham Pro";
  margin-bottom: 15px;
}

.block__description {
  color: #48494a;
  font-size: 14px;
  margin-bottom: 50px;
  width: 90%;
}

.block__input-txt {
  color: #48494a;
  font-size: 14px;
  margin-bottom: 15px;
}

.block__input {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  color: #a2a2a2;
  font-size: 14px;
  -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}

.block__button {
  background-color: red;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 20px 0;
  max-width: 310px;
  margin: auto;
}

@media (max-width: 768px) {
  .content__top {
    display: flex;
    flex-direction: column;
  }
  .content__top-text {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .content__gallery-left,
  .content__gallery-right {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
  }
  .work__gallery {
    flex-direction: column;
  }
  .work__card {
    margin: auto;
    width: 95%;
  }

  .block {
    width: 100%;
    padding-right: 80px;
  }
}

@media (max-width: 1160px) {
  .content__gallery {
    flex-direction: column;
  }

  .content__gallery-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .content__gallery-right {
    width: 100%;
  }

  .content-stocks {
    flex-direction: column;
  }

  .work {
    width: 100%;
    padding: 50px 2.5%;
  }

  .work__gallery {
    justify-content: space-around;
  }

  .content-stocks {
    width: 100%;
  }
  .content-stocks::after {
    display: none;
  }

  .block {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 370px) {
  .block {
    padding-left: 15px;
    padding-right: 15px;
  }
}