body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.card {
  width: 335px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
  box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
}

.image-wrap {
  height: 242px;
  padding: 10px 21px 0 21px;
  background-image: url(image.png);
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.flag {
  position: relative;
  height: 23px;
  background-color: #ffc600;
  color: #48494a;
  font-size: 10px;
  display: inline-block;
  line-height: 23px;
  padding: 0 8px;
}

.flag::after {
  position: absolute;
  left: 0;
  top: 23px;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #ffc600;
  border-right: 6px solid transparent;
}

.name {
  position: absolute;
  bottom: 0;
  padding-bottom: 13px;
}

.name > h1 {
  color: white;
  font-size: 15px;
}

.bottom-card {
  padding: 18px 0 24px 21px;
}

.address {
  font-size: 14px;
  color: #48494a;
  margin-bottom: 16px;
}

.price > span {
  background-color: #fffbd7;
  font-size: 18px;
  padding: 5px 17px 5px 5px;
}

.price > span:last-of-type {
  color: #48494a;
  background-color: inherit;
  font-size: 12px;
  margin-left: -4px;
}